:root {
  --pink: #fd76cb;
  --orange: #ffac30;
  --black: #000000;
  --white: #e6e6e6;
  --green: #00c400;
  --grey: #9d9d9d;

  --strong-pink: #ff00a1;
  --strong-orange: #b16a00;

  --transparent-black: #00000088;
  --transparent-pink: #fd76cb88;
  --transparent-orange: #ffac30dd;
  --transparent-white: #fffefd88;

  --very-transparent-white: #fffefd0c;
  --very-transparent-black: #0000000e;
  --very-transparent-pink: #fd76cb0e;
}
