.heading {
  background-image: linear-gradient(to bottom, var(--transparent-orange), var(--transparent-pink));
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
