.input {
  padding: 9px;
  border-radius: 10px;
  margin: 2px;
  width: 15px;
  height: 20px;
  background-color: #ffffffa6;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  caret-color: transparent;
  &::selection {
    background: none;
  }
  @media screen and (min-width: '768px') {
    padding: 10px;
    width: 25px;
    height: 30px;
    font-size: 1.8rem;
  }
}

.check {
  padding: 10px;
  margin-top: 20px;
  background: none;
  border: 5px groove var(--transparent-orange);
  color: var(--transparent-orange);
  &:hover {
    border: 5px groove var(--orange);
    color: var(--orange);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 50px;
  text-align: center;
  min-height: 60vh;
  @media screen and (min-width: '768px') {
    max-width: 60%;
  }
}

.lettersWrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px 20px;
  background-color: var(--very-transparent-white);
  border-radius: 20px;
  padding: 20px 15px;
  p {
    margin-top: 5px;
  }
}

.lettersL {
  @media screen and (min-width: '768px') {
    position: fixed;
    max-width: 30vw;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
  }
}
.lettersR {
  @media screen and (min-width: '768px') {
    position: fixed;
    max-width: 30vw;
    top: 10vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
  }
}

.charList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  p {
    margin: 3px;
    color: var(--black);
    background-color: var(--transparent-white);
    padding: 5px 10px 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    min-width: 13px;
  }
}

.charListOrange {
  @extend .charList;
  p {
    background-color: var(--orange);
  }
}

.victory {
  margin: 20px 0 20px;
}

.ctaDefinition {
  padding: 10px;
  margin: 5px;
  background: none;
  color: var(--transparent-orange);
  border: none;
  font-size: 1.1rem;
  &:hover {
    color: var(--orange);
  }
}

.buttonHint {
  padding: 10px;
  margin: 5px;
  background: none;
  color: var(--transparent-orange);
  border: none;
  &:hover {
    border: none;
    color: var(--orange);
  }
}

.copy {
  color: var(--transparent-orange);
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    color: var(--orange);
  }
}

.box {
  background-color: var(--very-transparent-white);
  padding: 10px;
  border-radius: 10px;
  margin: 0 30px 20px;
}
