.wrap {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-black);
}

.settings {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: var(--black);
  border: 2px solid var(--very-transparent-white);
  box-shadow: 0 0 10px 5px var(--very-transparent-white);
  animation: show 0.2s forwards ease;
  > * {
    margin-top: 20px;
  }
  @media screen and (min-width: '768px') {
    padding: 20px 40px;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close {
  position: absolute;
  right: 10px;
  top: -10px;
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
  transform: scaleX(1.4);
  @media screen and (min-width: '768px') {
    right: 20px;
    top: 0;
  }
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: '768px') {
    width: 90%;
  }

  span {
    min-width: 202px;
  }

  button {
    background-color: var(--transparent-orange);
    opacity: 0.5;
    padding: 10px 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .buttonOn {
    background-color: var(--orange);
    opacity: 1;
  }
}

.max {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: row;
  text-align: center;
  @media screen and (min-width: '768px') {
    height: 2rem;
  }
  p {
    margin: auto 0 auto;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  :nth-child(1) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  :nth-child(3) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  :nth-child(2) {
    margin: 10px;
    padding: 5px 10px 5px;
    color: var(--transparent-orange);
    font-weight: 900;
  }
  button {
    color: var(--transparent-orange);
    padding: 5px 10px 5px;
    font-size: 1.2rem;
    margin: 10px;
    background: none;
    border: 5px groove var(--transparent-orange);
    //box-shadow: 0 0 10px 0 var(--transparent-orange);
    &:hover {
      border: 5px groove var(--orange);
      color: var(--orange);
    }
  }
}

.code {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.inputCode {
  padding: 9px;
  border-radius: 10px;
  margin: 2px;
  width: 150px;
  height: 20px;
  background-color: #ffffffa6;
  font-size: 1.2rem;
  text-align: center;
  @media screen and (min-width: '768px') {
    padding: 10px;
    font-size: 1.5rem;
  }

  &:invalid {
    border-color: red;
    background-color: lightcoral;
  }
}

.error {
  color: lightcoral;
  margin-top: -20px;
}

.optionsWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  div {
    background-color: #ffffffa6;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    cursor: pointer;
  }
}
